*{padding: 0;
margin: 0;}


.conteiner{

    width: 100%;
    background:ivory;
}

.MenuSuperior{
    margin-top: 0;
   background: lawngreen;
    height: 180px;
    display: flex;
    width: 1200px;
    margin: auto;
    flex-direction: row;
    
    align-items: center;
    
    
}



.div1{
    margin-left: 5px;
    margin-right: 15px;
}

.div1 div{
    color: white;
    font-size: 50px;
    background: violet;
    border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.DivMenu {
    margin: auto;
    margin-right: 0px;
	width:  650px;
	background:white;
    height: 50px;
    
   
}

.DivMenu::after {
	display: block;
	content: '';
	clear: both;
}

.DivMenu ul {

    text-align: center;
	padding: 0;
	margin: 0px;
	list-style: none;
}

.DivMenu ul li {
	display: inline;
    
}

.DivMenu ul li  {
    
    margin-top: 15px;
    padding: 2px 25px;
    display: inline-block
}
.welcome{
  color: white;
  background: dimgrey;
  border-radius: 8px;
  padding: 18px;  
}
.conteiner2 {
 background: lightseagreen;
 width: 1200px;
 margin: auto;
 display: flex;
 flex-direction: row;
height: 270px;
justify-content: space-between;
 
}
.parteEscrita{
 background: blue;
    margin-left: 120px;
    width: auto;
    
}
.parteEscrita div{
    font-size: 25px;
    margin-top: 85px;
}
.botaoAzulEBotaoPreto{
    background: blueviolet;
    width: auto;
 margin-right:120px;
 

   
}
.botaoAzul div{
    background: steelblue;
    font-size:35px;
    padding:20px ;
    padding-left: 35px;
    padding-right: 35px;
    height: 95px;
     
    text-align: center;
    
    
    
}
.botaoPreto div{
    height: 135px;
font-size: 35px;
text-align: center;
}

.botaoAzulEBotaoPreto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botaoAzulEBotaoPreto a{
    width: 300px;
    background-color: teal;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;    
    margin-bottom: 10px;
}