


body{
    background-image: url(/siteStellar/static/imagem/overlay.png), linear-gradient(45deg
, #e37682 15%, #5f4d93 85%);


}

h2 {
    margin: 0px;
}

.Primeirocabeçalho{
    
    margin: auto;
    width: 1100px;
    height: 310px;
    padding: 60px;
    text-align: center;
    color: ivory;
    font-size: 20px;
}
.twitter{
    color: ivory;

}
.html-link{color: ivory;
}

.nav {
    margin: 0 auto;
	width:  1220px;
	background:white;
	height: 50px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.nav::after {
	display: block;
	content: '';
	clear: both;
}

.nav ul {
    text-align: center;
	padding: 0;
	margin: 0px;
	list-style: none;
}

.nav ul li {
	display: inline;
}

.nav ul li  {
    margin-top: 15px;
    padding: 2px 25px;
    display: inline-block;

    
    background-color:white;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid white;
}
.main{
width: 1220px;
background: white;
margin: auto;
}
.main1{
    width: 100%;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content{
    display: inline-block;
    width: 54%;
    
    margin-top: 80px;
    padding-left: 70px;
}

.major{
    margin-left: 70px;
    padding-top: 180px;
}

.texto{
    background: rosybrown;
    margin-top: 80px;
    width: 50%;
    float: left;
    
    
}
.imagem1{
    
    text-align: center;
    width: 40%;
    float: right;        
}

.imagem1 img {
    border-radius: 50%;
}


.actions{
    margin-top: 50px;
    list-style: none;
}
 .button{
    
     border-radius: 5px;
     border: 1px solid burlywood;
     background: white;
     width: 45px;
    padding: 9px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    color: black;
  
    
 }

 .segundaSection{
    width: 100%;
    background: #5f4d93;    
    text-align: center;
}

.Major{
    width: 100%;
    
}
 .segundoHeader{
width: 100%;
    background: turquoise;
    height: 80px;
    text-align: center;
    margin: auto;
}

.features {
    list-style: none;
}

.features li {
    width: 33%;
    display: inline-block;
}
 
